body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
   *,
*::after,
*::before {
box-sizing: border-box;
padding: 0;
margin: 0;
}
.navbar .menu-items li a:hover{
    color: #fac13d;
}
.contact{
background: rgb(250, 193, 61);
height: 15vh;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
}

.html {
font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
display: none;
}


.container {
max-width: 1200px;
width: 90%;
margin: auto;
}

.navbar {
background: #fff;
color: #000;
}
.fixedNavbar{
  position: fixed;
  width: 100%;
  transition: 0.5s ease-in-out;
  z-index: 100;
  box-shadow: -4px 2px 30px -12px rgba(0,0,0,0.47);
}

.navbar-container {
display: flex;
justify-content: space-between;
height: 64px;
align-items: center;
}

.menu-items {
order: 2;
display: flex;
}
.logo {
order: 1;
font-size: 2.3rem;
}

.menu-items li {
list-style: none;
margin-left: 1.5rem;
font-size: 1.3rem;
}

.navbar a {
color: rgb(116 116 116);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
color: #ffffff;
}
/* sidebar pannel */

.sidebar {
    width: 70px;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 99;
    border-radius: 10rem 0 0 10rem;
    box-shadow: -4px 2px 30px -12px rgb(0 0 0 / 47%);
    background-color: rgb(228, 228, 228);
}

.fa-whatsapp{
    color: #25D366 !important;
}
.fa-phone{
    color: #1180f8 !important;
}
.sidebar ul{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
}
.sidebar ul li{
list-style: none;
padding: 2.5rem 0;
margin-bottom: 0 ;
}
.sidebar ul li a i{
    color: #fff;
    font-size: 40px;
}
/* button */
.getintotouch{
background-color: #fff;
padding: 0.7rem 2rem;
color: rgb(73, 73, 73);
margin-left: 50%;
border-radius: 25px;
border: none;
font-size: 1.2rem;
text-transform: capitalize;
font-weight: bold;
box-shadow: -4px 2px 30px -12px rgba(0,0,0,0.47);

}
.getintotouch:hover{
background-color: #aaa;
color: rgb(255, 255, 255);
margin-left: 50%;
border-radius: 25px;
border: none;
font-size: 1.2rem;
font-weight: bold;

}

/*product*/
h2{
    color: rgb(105, 105, 105);
}
.policy{
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    box-shadow: -6px 19px 31px -28px rgb(0 0 0 / 47%);
    transition: 0.4s ease-in-out;
}
.policy:hover{
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    box-shadow: -6px 19px 70px -28px rgb(0 0 0 / 47%);
}
.policy-icon{
    color: rgb(33, 33, 33) !important;
}
a{
    color: rgb(18, 11, 139);
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: rgb(164, 164, 164);
}


/* solution */
.solution{
  padding: 3rem 0;

}
.s-text{
    margin-bottom: 4rem;
    color: #fff;
}
/*footer*/
footer{

display: flex;
align-items: center;
justify-content: center;

}
.social ul li{
list-style: none;
width: 40px;
height: 40px;
background-color: rgb(250, 193, 61);
margin: 1rem;
border-radius: 100%;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.social ul li a i{
    color: #fff;
}


.social ul li:hover{
background-color: #818181;
}
.social ul{
display: flex;
}

.banner img{
    height: 500px;
    object-fit: cover;
}
/* about section */
.about{
    height: 50vh;
    position: relative;
    background: url('https://images.ctfassets.net/hrltx12pl8hq/5KiKmVEsCQPMNrbOE6w0Ot/341c573752bf35cb969e21fcd279d3f9/hero-img_copy.jpg?fit=fill&w=800&h=300');  
    background-size: cover;
    background-repeat: no-repeat;

}
.about::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(255 255 255 / 70%);
    border-radius: 0 0 0 20px;
}
.bg-about{
    z-index: 3;
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 50%;
   padding: 0 40px;

}
.abouth2{
    color: #000000;
}
.img::before{
    width: 100%;
    height: 20px;
    background: rgb(68, 106, 243);
}
/*.bg-about{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(57, 57, 57);
    align-items: normal;
    height: 100%;
    background:rgb(255 255 255 / 46%);
    border-radius: 0 0 0 20px;
   padding: 8.69rem;
  
    
}*/
.showmore{
    background-color: #0c045985;
    color: #fff;
    border:none;
    border-radius: 25px;
    padding: 15px 30px;
    
}
.showmore:hover{
    background-color: #ffffff;
    color: rgb(26, 26, 26);
    border:none;
    border-radius: 25px;
    
}
.p-20 {
    padding: 1.25rem!important;
}
/*soultion*/
.solution{
    background: url('https://img.freepik.com/free-photo/empty-brown-rusty-stone-metal-surface-texture_24972-675.jpg?w=1060&t=st=1659120389~exp=1659120989~hmac=e328d54e6ed34ebf82a8627ac437177e0224a8020e8184435ec1ed4b680c8ea7');
}
.items img{
    width: 100px;
    height: 400px;
  

}


/* phone media */

@media (max-width: 768px) {
.navbar {
opacity: 0.95;
}
section.banner {
    position: relative;
    z-index: -2;
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
display: block;
}

.navbar-container {
display: block;
position: relative;
height: 64px;
}

.navbar-container input[type="checkbox"] {
position: absolute;
display: block;
height: 32px;
width: 30px;
top: 20px;
left: 20px;
z-index: 5;
opacity: 0;
cursor: pointer;
}
.getintotouch {
    background-color: #fff;
    padding: 0.7rem 0rem;
    color: rgb(73, 73, 73);
    margin-left: 17%;
    margin-top: 17%;
    border-radius: 17px;
    border: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
    box-shadow: -4px 2px 30px -12px rgb(0 0 0 / 47%);
}

.navbar-container .hamburger-lines {
display: block;
height: 28px;
width: 35px;
position: absolute;
top: 20px;
left: 20px;
z-index: 2;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
display: block;
height: 4px;
width: 100%;
border-radius: 10px;
background: #333;
}

.navbar-container .hamburger-lines .line1 {
transform-origin: 0% 0%;
transition: transform 0.3s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
transform-origin: 0% 100%;
transition: transform 0.3s ease-in-out;
}

.navbar .menu-items {
padding-top: 150px;
background: #fff;
height: 100vh;
max-width: 300px;
transform: translate(-150%);
display: flex;
flex-direction: column;
margin-left: -40px;
padding-right: 20px;
padding-left: 40px;
transition: transform 0.5s ease-in-out;
box-shadow: 5px 0px 10px 0px #aaa;

}


.navbar .menu-items li {
margin-bottom: 1.8rem;
font-size: 1.1rem;
font-weight: 500;
}

.logo {
position: absolute;
top: 10px;
right: 15px;
font-size: 2.5rem;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
transform: rotate(45deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
transform: rotate(-45deg);
}
}
.at-custom-sidebar-btns{
position: fixed;
right: 0;
top:40%;
z-index: 99;
background: rgb(4, 30, 56);
}

@media (max-width: 500px) {
.navbar-container input[type="checkbox"]:checked ~ .logo {
display: none;
}

.bg-about {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 40px;
    color: rgb(213, 213, 213);
  
}
.abouth2{
    color: rgb(255, 255, 255);
}
.about::before {
   display:none;
}
.getintotouch:hover {
    padding: 0.7rem 0rem;
    margin-left: -4px;
    margin-right: -4px;
    background-color: #aaa;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
} 
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

}
